.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgba(8, 141, 112, 0.67);
}

#wrapper{
    height: 100vh;
    background: rgb(179, 179, 179);
}

#header{
    height: 13vh;
    background: rgba(68, 128, 125, 0.89);
}

#content{
    height: 65vh;
}

.test{
    height: 65vh;
    background: #ffa07a;
    margin-top: 1vh;
    margin-left: 0;
    margin-right: 0;
    border: thin solid grey;
    border-radius: 5px
}